*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: rgb(53, 53, 51);
}
marquee{
    height: 100vh;
}
img{
    width: 10%;
    height: 20%;
}